#root {
  height: 100%;
}

#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-card-body {
  height: 100%;
}

.checkbox {
  border: 2px solid #39c;
}

.checkbox-checked {
  background: #39c;
}

.panel-body {
  border-color: #ccc;
}

.window {
  background: #fff;
}